
@import 'https://fonts.googleapis.com/css?family=Signika:300,400,600';

body{
}

img{
	max-width: 100%;
    height: auto;
}

p, ul, ol{
	margin-top: 0;
	margin-bottom: $line-height-computed;
}

p + ul{
	margin-top: -20px;
}

a, button{
	cursor: pointer;
	transition: color 0.1s ease-out, background-color 0.1s ease-out;
}

h1{
	margin-bottom: 1em;
}

h1, h2, h3,
.h1, .h2, .h3{
	text-transform: uppercase;
}

h1, .h1,
h2:first-child, .h2:first-child,
h3:first-child, .h3:first-child{
	margin-top: 0;
}

.text-nowrap{
	white-space: nowrap;
}
