
@import 'https://fonts.googleapis.com/css?family=Signika:300,400,600';

body{

}

img{
	max-width: 100%;
    height: auto;
}

p, ul, ol{
	margin-top: 0;
	margin-bottom: $line-height-computed;
}

a, button{
	cursor: pointer;
	text-decoration: none !important;
	transition: color 0.1s ease-out, background-color 0.1s ease-out;
}

.text-nowrap{
	white-space: nowrap;
}