
.breadcrumb{
	font-size: 14px;

	padding-left: 0;
	margin-bottom: 10px;
	margin-left: 0;
	margin-right: 0;

    position: relative;
    top: -20px;

}

.breadcrumb > li{
	display: inline-block; 
}

.breadcrumb > li:before{
	content: ">";
	display: inline-block;
	color: #b9b9b9;
	padding-right: 8px;
	padding-left: 8px;
	font-size: 14px;
}

.breadcrumb > li:first-child:before{
	display: none;
}

.breadcrumb a{
	color: #b9b9b9;

	&.active, &.active:hover{
		text-decoration: none;
		color: #8c8c8c;
	}
}

