
.btn{
	text-decoration: none;
}


/* ==========================================================================
	Scrolltop button
   ========================================================================== */

.btn-scrolltop{
	opacity: 0;
	display: inline-block;
	position: fixed;
	z-index: 80;
	right: 0;
	bottom: 30px;
	padding: 10px;
	border-radius: 4px 0 0 4px;
	background-color: rgba(0,0,0,0.5);
	transition: opacity 0.5s ease-in;

	&:hover, &:focus{
		background-color: rgba(0,0,0,0.65);
	}
}

.btn-scrolltop--show{
	opacity: 1;
}


/* ==========================================================================
	Socail (circle) button
   ========================================================================== */

.btn-social{
	display: inline-block;
	color: #f2f2f2 !important;
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	font-size:18px;
	border-radius: 100px;
	background-color: rgba(255,255,255,0.15);

	&:hover, &:focus{
		color: #fff;
		background-color: rgba(255,255,255,0.20);
		text-decoration: none;
	}

	+ .btn-social{
		margin-left: 4px;
	}
}