
// @import 'https://fonts.googleapis.com/css?family=Signika:300,400,600';

// @font-face {
// 	font-family: 'Jumbo TheSans';
// 	src: url('fonts/JumboTheSansBlack-Italic.eot');
// 	src: url('fonts/JumboTheSansBlack-Italic.eot?#iefix') format('embedded-opentype'),
// 		url('fonts/JumboTheSansBlack-Italic.woff') format('woff'),
// 		url('fonts/JumboTheSansBlack-Italic.ttf') format('truetype'),
// 		url('fonts/JumboTheSansBlack-Italic.svg#JumboTheSansBlack-Italic') format('svg');
// 	font-weight: 900;
// 	font-style: italic;
// }

@font-face {
	font-family: 'Jumbo TheSans';
	src: url('fonts/JumboTheSans-Bold.eot');
	src: url('fonts/JumboTheSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/JumboTheSans-Bold.woff') format('woff'),
		url('fonts/JumboTheSans-Bold.ttf') format('truetype'),
		url('fonts/JumboTheSans-Bold.svg#JumboTheSans-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

// @font-face {
// 	font-family: 'Jumbo TheSans';
// 	src: url('fonts/JumboTheSans-Italic.eot');
// 	src: url('fonts/JumboTheSans-Italic.eot?#iefix') format('embedded-opentype'),
// 		url('fonts/JumboTheSans-Italic.woff') format('woff'),
// 		url('fonts/JumboTheSans-Italic.ttf') format('truetype'),
// 		url('fonts/JumboTheSans-Italic.svg#JumboTheSans-Italic') format('svg');
// 	font-weight: normal;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: 'Jumbo TheSans';
// 	src: url('fonts/JumboTheSansBlack-Black.eot');
// 	src: url('fonts/JumboTheSansBlack-Black.eot?#iefix') format('embedded-opentype'),
// 		url('fonts/JumboTheSansBlack-Black.woff') format('woff'),
// 		url('fonts/JumboTheSansBlack-Black.ttf') format('truetype'),
// 		url('fonts/JumboTheSansBlack-Black.svg#JumboTheSansBlack-Black') format('svg');
// 	font-weight: 900;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Jumbo TheSans';
// 	src: url('fonts/JumboTheSans-BoldItalic.eot');
// 	src: url('fonts/JumboTheSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
// 		url('fonts/JumboTheSans-BoldItalic.woff') format('woff'),
// 		url('fonts/JumboTheSans-BoldItalic.ttf') format('truetype'),
// 		url('fonts/JumboTheSans-BoldItalic.svg#JumboTheSans-BoldItalic') format('svg');
// 	font-weight: bold;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: 'Jumbo TheSans';
// 	src: url('fonts/JumboTheSans.eot');
// 	src: url('fonts/JumboTheSans.eot?#iefix') format('embedded-opentype'),
// 		url('fonts/JumboTheSans.woff') format('woff'),
// 		url('fonts/JumboTheSans.ttf') format('truetype'),
// 		url('fonts/JumboTheSans.svg#JumboTheSans') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }
