

/* ==========================================================================
   	CONTAINER
   ========================================================================== */

.container{
	position: relative;
}


/* ==========================================================================
   	HEADER
   ========================================================================== */

.header{
	padding-top: 30px;
	padding-bottom: 30px;
}

.header-logo{
	margin: 0 120px 20px 0;
}

@media (min-width: $screen-sm){
	.header-logo{
		float: left;
	}

	.header-nav{
		float: right;
	}
}

