
nav{
	ul{
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
	}
}


/* ==========================================================================
	NAV PRIMARY
   ========================================================================== */

.nav-primary{
	display: none;
	margin-left: -15px;
	margin-right: -15px;
	border-bottom: 1px solid rgba(255,255,255,0.1);

	a {
		display: block;
		position: relative;
		padding: 10px 15px;
		color: #333;
		font-size: 18px;
		text-decoration: none;
		border-top: 1px solid rgba(255,255,255,0.1);

		&.active{
			color: #ff2900;
		}

		i{
			position: absolute;
			display: block;
			right: 0;
			top: 0;
			font-size: 18px;
			padding: 10px 15px;

			&:before{
				display: inline-block;
				transition: transform 0.1s ease-in;
			}
		}

		&.open > i:before{
			transform: rotate(-180deg);
		}
	}

	ul{
		display: none;
		background-color: rgba(0,0,0,0.05);

		a{
			font-size: 16px;
			padding-left: 30px;
		}

		ul a{
			padding-left: 45px;
		}
	}
}

@media (min-width: $screen-sm) {
	.nav-primary{
		display: block !important;
		border-bottom: none;

		li{
			float: left;
		}

		a {
			border-top: none;
		}

		i{
			display: none;
		}

		ul{
			display: none !important;
		}
	}
}

/* ==========================================================================
   	NAV-SUB
   ========================================================================== */

.nav-sub{
	background-color: $nav-sub-bg;
}

.nav-sub a {
    display: block;
    text-decoration: none;
    position: relative
}

.nav-sub > li >a {
    padding: $nav-sub-padding;
    color: $nav-sub-color;
    font-weight: $nav-sub-font-weight;
    font-size: $nav-sub-font-size;
    text-decoration: none;
    border-top: 1px solid #ccc
}

// .nav-sub > li > a >.i-angle-down {
//     float: right;
//     position: relative;
//     top: 4px;
//     margin-right: 0
// }

.nav-sub > li > a.active, .nav-sub >li > a:focus, .nav-sub > li > a:hover {
    background-color: rgba(0,0,0,.05)
}

.nav-sub > li:first-child >a {
    border-top: none
}

.nav-sub > li ul {
    display: none;
    border-top: 1px solid #ccc;
    padding: 5px 0 5px 12px;
    background-color: #fff
}

.nav-sub > li ul a {
    padding-left: 18px;
    margin: 10px 0;
    line-height: 20px
}

.nav-sub > li ul a:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "\g";
    font-family: icons!important;
}

.nav-sub > li ul a.active {
    color: #000
}

.nav-sub > li.open ul {
    display: block
}


/* ==========================================================================
   	NAV TOGGLE
   ========================================================================== */

.nav-toggle {
	position: absolute;
	right: 15px;
	top: 30px;
	display: inline-block;
	padding: 8px 10px;
	cursor: pointer;
	background-color: rgba(255,255,255,0.1);
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

.nav-toggle:hover,
.nav-toggle:hover,
.nav-toggle:hover{
	color: #fff;
	text-decoration: none;
}

.nav-toggle i{
	margin-right: 4px;
}

@media screen and (min-width: 768px) {
	.nav-toggle{
		display: none !important;
	}
}