
@import 'src/vendor/owl.carousel/dist/assets/owl.carousel.min';
@import 'src/vendor/owl.carousel/dist/assets/owl.theme.default.min';

.owl-dots{
	margin-top: -20px !important;
}

@media screen and (min-width: 768px) {
	.owl-dots{
		position: absolute;
		right: 0;
		bottom: 40px;
		left: 50%;
		text-align: left !important;
		padding-left: 40px;
	}
}
