
@import 'src/vendor/owl.carousel/dist/assets/owl.carousel.min';
@import 'src/vendor/owl.carousel/dist/assets/owl.theme.default.min';


.owl-item{
	z-index: 1;
}

.owl-dots{
	z-index: 2;
	margin-top: 5px !important;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: left !important;
}

.owl-dot{
	display: inline-block;

	span{
		border-radius: 50%;
		border: $owl-dot-border-width solid $owl-dot-color;
		margin: 5px 7px;
		display: block;
		width: 12px;
		height: 12px;
	}

	&.active span{
		background-color: $owl-dot-color;
	}
}

@media(min-width: $screen-md) {
	.owl-dots{
		bottom: 15px;
		margin-top: 0;
	}

	.owl-dot{
		span{
			width: 15px;
			height: 15px;
			border: 0;
			background-color: $owl-dot-bg;
		}

		&.active span{
			background-color: $owl-dot-active-bg;
		}
	}
}