
/* ==========================================================================
   	MARGINS
   ========================================================================== */

.mb-0{ margin-bottom: 0px !important; }
.mb-5{ margin-bottom: 5px !important; }
.mb-10{ margin-bottom: 10px !important; }
.mb-20{ margin-bottom: 20px !important; }
.mb-30{ margin-bottom: 30px !important; }
.mb-40{ margin-bottom: 40px !important; }
.mb-50{ margin-bottom: 50px !important; }
.mb-60{ margin-bottom: 60px !important; }
.mb-70{ margin-bottom: 70px !important; }
.mb-80{ margin-bottom: 80px !important; }

.mt-0{ margin-top: 0px !important; }
.mt-5{ margin-top: 5px !important; }
.mt-10{ margin-top: 10px !important; }
.mt-20{ margin-top: 20px !important; }
.mt-30{ margin-top: 30px !important; }
.mt-40{ margin-top: 40px !important; }
.mt-50{ margin-top: 50px !important; }
.mt-60{ margin-top: 60px !important; }

.ml-5{ margin-left: 5px !important; }
.ml-10{ margin-left: 10px !important; }
.ml-15{ margin-left: 15px !important; }
.ml-20{ margin-left: 20px !important; }
.ml-25{ margin-left: 25px !important; }
.ml-30{ margin-left: 30px !important; }

.mr-5{ margin-right: 5px !important; }
.mr-10{ margin-right: 10px !important; }
.mr-15{ margin-right: 15px !important; }
.mr-20{ margin-right: 20px !important; }
.mr-25{ margin-right: 25px !important; }
.mr-30{ margin-right: 30px !important; }


/* ==========================================================================
   	CLICKBLOCK
   ========================================================================== */

.mouseover{
    cursor: pointer;
}


/* ==========================================================================
   	VIDEO CONTAINER
   ========================================================================== */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ==========================================================================
   	MAPS CONTAINER
   ========================================================================== */

.maps-container {
    position: relative;
    overflow: hidden;
    height: 420px;
}

.maps-container iframe,
.maps-container object,
.maps-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
