
// bootstrap variables
$body-bg: #fff;
$text-color: #333;
$font-size-base: 16px;
$line-height-base: 1.625;
$font-family-base: 'Signika', sans-serif;

$link-color: #337ab7;
$link-hover-color: darken($link-color, 5%);
$link-hover-decoration: underline;

$font-size-h1: 24px;
$font-size-h2: 18px;
$font-size-h3: 16px;
$font-size-h4: 16px;
$font-size-h5: 16px;
$font-size-h6: 16px;

$headings-font-family: inherit;
$headings-font-weight: 400;
$headings-line-height: 1.1;
$headings-color: inherit;

$border-radius-base: 0;

$btn-font-weight:                600;
$btn-border-radius-base:         $border-radius-base;
$btn-border-radius-large:        0;
$btn-border-radius-small:        0;


// $pagination-bg: #37363a;
// $pagination-border: #59575d;
// $pagination-hover-border: #59575d;
// $pagination-disabled-border: #59575d;
// $pagination-active-border: #59575d;
// $pagination-disabled-bg: #59575d;
// $pagination-hover-bg: #2a2a2d;
// $pagination-active-bg: #2a2a2d;
// $pagination-disabled-bg: #37363a;


// custom variables

// $leader-content-bg: #fff;
// $leader-content-bg--sm: transparent;
// $leader-content-padding: 20px 25px;


$nav-sub-bg: #ebebeb;
$nav-sub-color: #333;
$nav-sub-font-size: 16px;
$nav-sub-font-weight: inherit;
$nav-sub-padding: 10px 15px;


// owl carousel variables

// $owl-dot-color: #fff;
// $owl-dot-active-color: #fff;
// $owl-dot-border-width: 2px;

// $owl-dot-bg: darken($owl-dot-active-bg, 8%);
// $owl-dot-active-bg: #fff;