doctype html
html(lang="nl")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		title Bootstrap 101 Template

		link(href="css/all.min.css" rel="stylesheet")

		<!--[if lt IE 9]>
			script(src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
			script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
		<![endif]-->


	body

		div.sr-only
			p Ga direct naar 
				a(href="#content") de inhoud

		<!--[if lt IE 9]>
			section.alert.alert-danger
			div.container Uw browser is te oud om gebruik te kunnen maken van deze website.
				br
				a(href="http://www.whatbrowser.org/intl/nl/" rel="external").alert-link Upgrade uw browser 
				| of download 
				a(class="alert-link" href="http://www.google.com/chrome" rel="external") Google Chrome
				| of 
				a(class="alert-link" href="http://www.firefox.com/" rel="external") Firefox 
				| voor een snellere, betere en veiliger webervaring.
		<![endif]-->


		div.page

			header.page-header.header
				nav.header-top
					ul.list-inline
						li
							a(href="") contact

				div.header-logo
					a(href="")
						img(width="" src="" alt="")

				nav.header-nav
					ul(id="nav").nav-primary
						li
							a(href="") home

				a(data-toggle="#nav").nav-toggle.js-toggle
					i.icon-nav


			main(role="main" id="content").page-body
				h1 Hello world


			footer.page-footer.footer
				div.container


		a(href="#header").btn-scrolltop.js-scrollto
			i.i-angle-up

		script(src="js/all.min.js" async)